.home{
width: 1920px;
height: 1000px;
}

.bg{
background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
border-radius: 32px;
}

.main{
position: absolute;
width: 1920px;
height: 1000px;
left: 8%;
}
.lienhe-text{


position: absolute;
width: 328px;
height: 100px;
left: 796px;
top: 144px;
font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
color: #FFFFFF;
}
.frame-date{

    position: static;
width: 53px;
height: 56px;
left: 358px;
top: 0px;



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}
.frame{
position: absolute;
width: 1920px;
left: 0px;
top: 0px;
}
.frame-tt{
    position: absolute;
width: 1520px;
height: 677px;
left: 201px;
top: 293px;
}

.frame-lienhe{
    position: absolute;
width: 1520px;
height: 647px;
left: 286px;
top: 293px;
}
.frame-group{
    position: absolute;
    left: 0%;
    right: 37.5%;
    top: 0%;
    bottom: 0.15%;
    
}
.lienhe_diachi{
    
position: absolute;
width: 500px;
height: 207px;
left: 980px;
top: 0px;

}
.lienhe_group{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.97%;

}
.lienhe_khung1{
    position: absolute;
left: 0%;
right: 15%;
top: 34.78%;
bottom: 0.97%;
width: 500px;
height: 133px;
border-radius: 20px;

background: #FFCA7B;
}
.lienhe_khung2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 500px;
    height: 189px;

    bottom: 8.7%;
    border-radius: 20px;
    background: #FDE8B3;
}
.lienhe_khung3{
    position: absolute;
    left: 2.23%;
    right: 5%;
    top: 5.8%;
    bottom: 14.49%;
    width: 476px;
    height: 165px;
    border-radius: 20px;
    background: #FFF6D4;}
.lienhe_khung4{position: absolute;
    left: 2.23%;
    right: 2.23%;
    top: 5.8%;
    bottom: 14.49%;
    border-radius: 20px;
    border: 3px dashed #FFB489;
}
.diachi{
    position: absolute;
left: 8.91%;
right: 79.59%;
top: 24.64%;
bottom: 45.41%;

}
.text_diachi{
    position: static;
left: 0%;
right: 74.3%;
top: 0%;
bottom: 67.42%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #12265A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.text{
    position: static;
left: 0%;
right: 0%;
top: 41.57%;
bottom: 0%;

/* 18 medium */
width: 300px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* or 144% */

display: flex;
align-items: center;

/* Text */

color: #23221F;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.lienhe_email{
    position: absolute;
width: 500px;
height: 205px;
left: 980px;
top: 220px;
}
.lienhe_sdt{
    position: absolute;
width: 500px;
height: 205px;
left: 980px;
top: 441px;
}
.frame36{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 358px;
height: 89px;
left: 134px;
top: 48px;
}
.frame35{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 808px;
height: 138px;
left: 47px;
top: 159px;
}
.frame33{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 293px;
height: 136px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
.frame34{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 491px;
    height: 138px;
    left: 317px;
    top: 0px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
.frame11{
    position: absolute;
width: 808px;
height: 152px;
left: 68px;
top: 319px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
}
.frame11-thanhtoan{
    position: static;
left: 0%;
right: 0%;
top: 40.43%;
bottom: 0%;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
height: 56px;
}
.ngaysudung-thanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 234px;
height: 94px;
left: 613px;
top: 81px;

}
.lienhe-thanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 391px;
height: 94px;
left: 129px;
top: 191px;
}
.lienhe-thanhtoan-label{
    position: static;
left: 0%;
right: 38.62%;
top: 0%;
bottom: 68.09%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.soluong-thanhtoan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 123px;
    height: 94px;
    left: 426px;
    top: 81px;
}
.frame9{
    position: static;
left: 0%;
right: 0%;
top: 40.43%;
bottom: 0%;
width: 200px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
height: 56px;
}
.frame10{
    position: static;
width: 391px;
left: calc(50% - 391px/2);
top: 40.43%;
bottom: 0%;
height: 56px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
.frame12{
    position: static;
width: 391px;
height: 56px;
left: 0px;
top: 38px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
.email-thanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 391px;
height: 94px;
left: 129px;
top: 411px;
}
.dienthoai-thanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 233px;
height: 94px;
left: 129px;
top: 301px;
}
.dienthoai-thanhtoan-label{
    position: static;
left: 0%;
right: 53.22%;
top: 0%;
bottom: 68.09%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.email-thanhtoan-label{
    position: static;
width: 59px;
height: 30px;
left: 0px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.form-thanhtoan-ve{
    position: absolute;
left: 0.79%;
right: 38.29%;
top: 1.77%;
bottom: 7.09%;
}

.navigation{
position: absolute;
width: 1920px;
height: 122.46px;
left: 0px;
top: 0px;
}

.navigation-bg{
position: absolute;
width: 100%;
left: 0px;
top: 0px;
border-radius: 35px;
}

.logo{
position: absolute;
width: 229px;
height: 91px;
left: 201px;
top: 1px;
background: url(../images/logo.png);
}

.group2{
position: absolute;
width: 890px;
height: 42px;
left: 703px;
top: 29px;
}

.frame20{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 541px;
height: 42px;
}

.frame20 .item{
position: absolute;
padding: 10px 24px;
}

.frame20 .item a{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #eddbdb;
text-decoration: none;
}

.frame20 .item a:hover{
color:#FFFFFF
}

.frame20 .item:nth-child(1){
left: 0;
top: 0;
}

.frame20 .item:nth-child(2){
left: 224px;
top: 0;
}

.frame20 .item:nth-child(3){
left: 423px;
top: 0;
}

.active{
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 33px;
height: 42px;
color:#FFFFFF;
}

.frame22{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
position: absolute;
width: 137px;
height: 32px;
left: 750px;
top: 8px;
}

.phone{
position: absolute;
left: 0%;
right: 76.64%;
top: 0%;
bottom: 0%;
}

.frame21{
position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;
/* W */
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 16px;
}

.vectorstroke{
position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;
}

.textnumber{
position: absolute;
width: 97px;
height: 20px;
left: 40px;
top: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.lisa-picture{
position: absolute;
left: -45px;
top: 480px;
}
.alex-picture{
    position: absolute;
width: 464px;
height: 594px;
left: -135px;
top: 347px;


}

.content-wraper{
position: absolute;
width: 1838px;
height: 1015px;
left: 45px;
top: 50px;
background: url(../images/content-bg.png);
}

.damsen-logo{
position: absolute;
left: 9%;
top: 10%;
}

.khinhkhicau-1{
position: absolute;
left: 53.59%;
top: 5%;
}

.hinhanh4nhanvat{
position: absolute;
width: 788px;
height: 443px;
left: 1020px;
top: -25px;
}

.khinhkhicau-2{
position: absolute;
left: 42.03%;
top: 13%;
}

.khinhkhicau-3{
position: absolute;
left: 89.5%;
top: 77%;
}

.khinhkhicau-4{
position: absolute;
left: 32.81%;
top: 87%;
}

.khinhkhicau-5{
position: absolute;
left: 93.5%;
top: 36%;
}

.khinhkhicau-6{
position: absolute;
width: 147.37px;
height: 210px;
left: -30px;
top: 280px;
}

.tb-1{
position: absolute;
left: 360px;
top: 80px;
}

.tb-2{
position: absolute;
left: 360px;
top: 180px;
}
.group-1{
    position: absolute;
left: 0%;
right: 37.5%;
top: 0%;
bottom: 2.95%;

}
.vector-tt{
    position: absolute;
left: 46.50%;
right: 31.05%;
top: 0%;
bottom: 5.45%;

/* background: #FDE8B3; */
}
.group-2{
    position: absolute;
left: 64.47%;
right: 0.07%;
top: 0%;
bottom: 2.95%;
}

.group-content{
position: absolute;
width: 1520px;
height: 677px;
left: 201px;
top: 293px;
}
.email{
    position: static;
width: 59px;
height: 30px;
left: 0px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.sothe{
    position: static;
left: 0%;
right: 83.7%;
top: 0%;
bottom: 68.09%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.input-sothe{
    position: static;
left: 0%;
right: 0%;
top: 40.43%;
bottom: 0%;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.sotienthanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 411px;
height: 94px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 16px 0px; */
}
.hotenchuthe{
    position: static;
left: 0%;
right: 62.04%;
top: 0%;
bottom: 68.09%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.ngayhethan{
    position: static;
left: 0%;
right: 65.69%;
top: 0%;
bottom: 68.09%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.sotien-thanhtoan{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 233px;
height: 94px;
left: 129px;
top: 81px;
}
.text-ve{
    position: static;
left: 82.93%;
right: 0%;
top: 26.79%;
bottom: 26.79%;

/* 18 medium */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


/* Text */

color: #23221F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
.frame41{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 90px;
    height: 56px;
    left: 0px;
    top: 38px;
    border-radius: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}
.frame42{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 411px;
    height: 432px;
    left: 29px;
    top: 81px;

}
.frame-hethan{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 411px;
    height: 56px;
    left: 0px;
    top: 38px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}
.btn-hethan{
    position: absolute;
    left: -0.54%;
    right: -0.41%;
    top: 16.55%;
    bottom: -0.38%;
    
}
.frame5-thanhtoan{
    position: static;
left: 0%;
right: 0%;
top: 40.43%;
bottom: 0%;
width: 250px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
height: 56px;
}
.frame5{
    position: static;
width: 381px;
left: calc(50% - 342px/2 - 34.5px);
top: 0%;
bottom: 0%;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 16px;
}
.group-content-lienhe{
    position: absolute;
    width: 1520px;
    height: 647px;
    left: 286px;
    top: 293px;

}

.khung-1{
position: absolute;
left: 0%;
right: 37.5%;
top: 0%;
bottom: 0%;
}

.khung-2{
position: absolute;
left: 59.67%;
}

.khung-3{
position: absolute;
left: 64.47%;
}
.khung-lienhe1{
    position: absolute;
left: 0.79%;
right: 38.29%;
top: 1.85%;
bottom: 4.48%;
border-radius: 20px;
/* border: 3px dashed #FFB489; */
}
.khung-lienhe2{
    position: absolute;
    left: 0.79%;
    right: 38.29%;
    top: 1.85%;
    bottom: 4.48%;
    border-radius: 20px;
    background: #FFF6D4;
}
.khung-lienhe3{
    position: absolute;
left: 0%;
right: 37.5%;
top: 0%;
bottom: 2.63%;
border-radius: 20px;

background: #FDE8B3;
}
.khung-lienhe4{
    
position: absolute;
left: 0%;
right: 37.5%;
top: 9.58%;
bottom: 0.15%;

background: #FFCA7B;
border-radius: 20px;
    
}

.vecuaban{
position: absolute;
width: 284px;
height: 80px;
left: 1110px;
top: -20px;
}
.thongtinthanhtoan{
    position: absolute;
width: 388px;
height: 80px;
left: 81px;
    top: -22px;

/* button */

filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));

}
.vecong{
    position: absolute;
width: 388px;
height: 80px;
left: 98px;
top: -22px;

/* button */

filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));

}

.text-content{
position: absolute;
left: 4.47%;
right: 40.92%;
top: 8%;
bottom: 67%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #23221F;
opacity: 0.7;
}
.text-lienhe{
    position: absolute;
left: 4.47%;
right: 40.92%;
top: 9.89%;
bottom: 80.83%;

/* 20 medium */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */


/* Text */

color: #23221F;

opacity: 0.7;
}
.text-item1{
position: absolute;
width: 748px;
height: 40px;
left: 127px;
top: 239px;
}

.text-item2{
position: absolute;
width: 748px;
height: 40px;
left: 127px;
top: 295px;
}

.text-item3{
position: absolute;
width: 748px;
height: 40px;
left: 127px;
top: 351px;
}

.text-item4{
position: absolute;
width: 748px;
height: 40px;
left: 127px;
top: 407px;
}

.text-item{
position: absolute;
left: 6.02%;
right: 0%;
top: 5%;
bottom: 5%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #23221F;
opacity: 0.8;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.star{
position: absolute;
left: 0%;
right: 95.05%;
top: 0%;
bottom: 0%;
}
.form-lienhe{
    position: absolute;
left: 0%;
right: 37.5%;
top: 0%;
bottom: 0.15%;
    }

.form-lienhe input{
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    outline: none;
    border: none;
    }
.input-ten{
    position: static;
width: 290px;
height: 56px;
left: 0px;
top: 0px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}


.form-datve select{
appearance: none;
cursor: pointer;
position: absolute;
width: 398px;
height: 56px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
outline: none;
border: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
}
.form-thanhtoan{
    position: absolute;
    width: 1470px;
    height: 612px;
    left: 27px;
    top: -29px;
}
.form-datve{
    position: absolute;
    left: 66.84%;
    right: 2.43%;
    top: 14.5%;
    bottom: 23.17%;
    }

.form-datve option{
border-radius: 30px;
}


.form-datve input{
background: #FFFFFF;
box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
outline: none;
border: none;
}

.input-soluongve{
position: absolute;
width: 150px;
height: 56px;
left: 0px;
top: 72px;
}

.input-ngaysudung{
position: absolute;
width: 224px;
height: 56px;
left: 174px;
top: 72px;
}

.input-hoten{
position: absolute;
width: 467px;
height: 66px;
left: 0px;
top: 144px;
}

.input-sdt{
position: absolute;
width: 467px;
height: 66px;
left: 0px;
top: 226px;
}
.input-sdt-lienhe{
    
position: static;
width: 290px;
height: 56px;
left: 0px;
top: 80px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}

.input-email{
position: absolute;
width: 467px;
height: 66px;
left: 0px;
top: 308px;
}
.input-email-lienhe{
    position: static;
width: 470px;
height: 56px;
left: 0px;
top: 0px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}
.input-diachi{
    position: static;
width: 470px;
height: 58px;
left: 0px;
top: 80px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
.input-loinhan{
    position: absolute;
width: 812px;
height: 152px;
left: 68px;
top: 360px;

/* W */

background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
}
.btn-lienhe{
    position: absolute;
    left: 30%;
    top: 82%;
    width: 384px;
    height: 84px;
    border: none;
    cursor: pointer;
    
    
    background: url(../images/btn-lienhe.png);
}

.btn-dropdown{
cursor: pointer;
border: none;
position: absolute;
width: 57px;
height: 57px;
left: 414px;
top: 0px;
filter: drop-shadow(0px 3px 2px #DE9959);
background: url(../images/button-dropdown.png);
}
.frame-ngay{
    position: static;
    width: 310px;
    left: calc(50% - 342px/2 - 34.5px);
    top: 0%;
    bottom: 0%;
    
    /* W */
    
    background: #FFFFFF;
    /* inner shadow */
    
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 16px;
}
.btn-date1{
    cursor: pointer;
    border: none;
    position: absolute;
    width: 57px;
    height: 57px;
    left: 345px;
    top: 227px;
    filter: drop-shadow(0px 3px 2px #DE9959);
    background: url(../images/button-date.png);
}

.btn-date{
cursor: pointer;
border: none;
position: absolute;
width: 57px;
height: 57px;
left: 414px;
top: 72px;
filter: drop-shadow(0px 3px 2px #DE9959);
background: url(../images/button-date.png);
}

.btn-datve{
position: absolute;
left: 10%;
top: 105%;
width: 384px;
height: 84px;
border: none;
cursor: pointer;
background: url(../images/button-datve.png);
}
.btn-thanhtoan{
position: absolute;
left: 10%;
top: 71%;
width: 384px;
height: 84px;
border: none;
cursor: pointer;
background: url(../images/btn-thanhtoan.png);
}
.votay{
    position: absolute;
    width: 265.74px;
    height: 509px;
    left: -184px;
    top: 83px;

}

.flag-trai{
position: absolute;
width: 621px;
height: 226px;
top: 71px;
}

.flag-phai{
position: absolute;
width: 579px;
height: 218px;
left: 1340px;
top: 50px;
}

.sukiennoibat-text{
position: absolute;
left: 31.5%;
top: 10.5%;
}
.thanhtoan-text{
    position: absolute;
width: 524px;
height: 100px;
left: 708px;
top: 144px;

/* Header */

font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* identical to box height, or 104% */


/* W */

color: #FFFFFF;

}

.previous-btn{
position: absolute;
left: 2.63%;
right: 94.39%;
top: 47.14%;
bottom: 47.03%;
background: url(../images/previous-btn.png);
border: none;
cursor: pointer;
}

.next-btn{
position: absolute;
left: 94.39%;
right: 2.63%;
top: 47.14%;
bottom: 47.03%;
background: url(../images/next-btn.png);
border: none;
cursor: pointer;
}

.list-news{
position: relative;
left: 9.5%;
top: 30%;
width: 1500px;
overflow: hidden;
}

.owl-stage-outer{
position: relative;
width: 100%;
display: flex;
}

.owl-stage-outer .owl-stage{
position: relative;
display: flex;
}

.owl-item{
width: 356px;
height: 499px;
margin-right: 20px;
background: #FFFFFF;
border-radius: 20px;
}

.disabled{
    display: none;
}

.image-event{
width: 356px;
height: 240px;
border-radius: 20px 20px 0 0;
}

.inside-event-box{
width: 258px;
height: 211px;
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px 16px 25px;
}

.title-date-event{
width: 234px;
height: 99px;
}

.title-event{
width: 138px;
height: 67px;
}

.title-event-main{
width: 138px;
height: 37px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
color: #23221F;
}

.title-event-secondary{
width: 129px;
height: 26px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #6C7272;
}

.date-event{
width: 234px;
height: 24px;
display: flex;
}

.icon-calendar{
width: 24px;
height: 24px;
}

.text-date{
width: 206px;
height: 16px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
color: #444444;
margin: 3px 0 0 3px;
}

.price-event{
position: relative;
width: 212px;
height: 24px;
top: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
display: flex;
align-items: center;
letter-spacing: 0.005em;
color: #FA7D09;
}

.button{
position: absolute;
bottom: 7%;
width: 200px;
height: 40px;
background-image: url(../images/button.png);
background-repeat: no-repeat;
}
.text-button{
    position: absolute;
left: 22.5%;
right: 22.5%;
top: 15%;
bottom: 35%;

font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-decoration: none;

/* W */

color: #FFFFFF;
}

.hoagiay-1{
position: absolute;
left: 0%;
right: 0%;
top: 2%;
}

.title-text-event-detail{
position: absolute;
left: 42.32%;
right: 42.32%;
top: 8.84%;
bottom: 84.08%;
font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 100px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.event-detail-main{
position: absolute;
left: 8.5%;
top: 21%;
width: 1519px;
height: 654px;
background: url(../images/event-detail-main.png);
}

.event-detail-box-inside{
position: absolute;
left: 3.82%;
right: 3.82%;
top: 11.62%;
bottom: 14.53%;
}

.evd-box-1{
position: absolute;
width: 411px;
height: 463px;
}

.evd-box-1-edp1{
position: absolute;
border-radius: 10px;
}

.evd-box-1 .info{
position: absolute;
width: 234px;
height: 94px;
top: 360px;
}

.evd-box-1 .info .date{
display: flex;
margin-bottom: 10px;
}

.evd-box-2{
position: absolute;
width: 288px;
height: 475px;
left: 780px;
}

.evd-box-2-edp2{
border-radius: 10px;
}

.evd-box-2 .text{
margin-top: 30px;
}

.event-detail-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
text-align: justify;
color: #000000;
}

.evd-box-3{
position: absolute;
width: 288px;
height: 475px;
left: 1115px;
}

.evd-box-3-edp3{
border-radius: 10px;
}

.evd-box-3 .text{
margin-bottom: 30px;
}

.evd-box-4{
position: absolute;
right: 47.37%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 19px;
align-items: center;
text-align: justify;
width: 288px;
height: 479px;

}






